@page "/counter"    

<h1 style="text-align:center; margin: 0px 0px 20px 0px;">PokeMart</h1>
<div class="image-grid">
    <img src="/image/escaperope.png" alt="Image 1" class="grid-image" />
    <img src="/image/maxrepel.png" alt="Image 2" class="grid-image" />
    <img src="/image/paralyzeheal.png" alt="Image 3" class="grid-image" />
    <img src="/image/pokeball.png" alt="Image 4" class="grid-image" />
    <img src="/image/xsp.atk.png" alt="Image 5" class="grid-image" />
    <img src="/image/xspeed.png" alt="Image 6" class="grid-image" />
</div>