@page "/login"

<PageTitle>Login</PageTitle>

<div class="login-form">
 
    <h3 style="text-align: center; font-weight:bold; margin:15px;">Trainer Login</h3>
    <div style="margin: 0px 0px 80px 0px;">
        <div class="form-group">
            <label style="margin:0px 20px 0px 40px" for="username">Username:</label>
            <input type="text" id="username" class="form-control" @bind="username" />
        </div>

        <div class="form-group">
            <label style="margin:30px 0px 0px 40px" for="password">Password:</label>
            <input type="password" id="password" class="form-control" @bind="password" />
        </div>

        <div class="form-group" style="justify-self: center; margin: 15px;">
            <button @onclick="HandleLogin" class="btn btn-primary">Login</button>
        </div>
    </div>
    
</div>

@if (!string.IsNullOrEmpty(loginMessage))
{
    <div class="alert alert-info">@loginMessage</div>
}

@code {
    private string username;
    private string password;
    private string loginMessage;

    private void HandleLogin()
    {
        // Simple validation and authentication logic
        if (username == "admin" && password == "password")
        {
            loginMessage = "Login successful!";
        }
        else
        {
            loginMessage = "Invalid credentials!";
        }
    }
}




