@page "/"

<PageTitle>Index</PageTitle>

<div style="display: flex; gap:10px;">
    <div class="card" >
        <div class="card-image-container" style="background-color: mediumseagreen;">
            <img src="/image/turtwig.png" class="card-image"  />
        </div>
        <h4>Turtwig</h4>
        <h6>Tiny Leaf Pokemon</h6>
        <p>
            Turtwig is a small, light green, quadrupedal Pokémon resembling a turtle or tortoise. Its eyes, feet, and lower jaw are yellow.
            Its body is covered by a brown shell that is composed of earth.
        </p>
        <div class="button-container">
            <button class="card-btn" Color="ButtonColor.Primary" To="#" style="background-color: mediumseagreen">Click Me!</button>
        </div> 
    </div>
    <div class="card" >
        <div class="card-image-container" style="background-color: indianred">
            <img src="/image/chimchar.png" class="card-image"  />
        </div>
        <h4>Chimchar</h4>
        <h6>Chimp Pokemon</h6>
        <p>
            Chimchar is a bipedal Pokémon resembling a chimpanzee. Its fur is primarily a shade of orange, although its face, outer ears, underbelly, hands, and feet are light yellow.
        </p>
        <div class="button-container">
            <button class="card-btn" Color="ButtonColor.Primary" To="#" style="background-color: indianred">Click Me!</button>
        </div>
    </div>
    <div class="card">
        <div class="card-image-container" style="background-color: lightskyblue">
            <img src="/image/piplup.png" class="card-image"  />
        </div>
        <h4>Piplup</h4>
        <h6>Penguin Pokemon</h6>
        <p>
            Piplup is a light-blue, penguin-like Pokémon, which is covered in thick down to insulate against the cold. It has a dark blue head with a primarily white face and a short, yellow beak.
        </p>
        <div class="button-container">
            <button class="card-btn" Color="ButtonColor.Primary" To="#" style="background-color: lightskyblue">Click Me!</button>
        </div>
    </div>
</div>



